@use "../root/variables" as *;

.buttonMain {
  border-radius: 10px;
  border: none;

  width: max-content;
  padding: 0 1em;
  height: 1.5em;

  font-size: 1.5em;
  font-weight: 300;

  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(79, 79, 79);
  border: 1px solid white;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: 1s;
  }
}
