@use "../root/variables" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $bg-sunset;

  padding-top: 5vh;

  width: 100vw;
  height: 100vh;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    color: whitesmoke;
  }

  .taskEmail {
    margin-top: 2em;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.448);
  }
}
