@use "../root/variables" as *;

.sunnyHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: scroll;

  padding-top: 4em;
  padding-bottom: 4.5em;

  background: $bg-sunset;

  width: 100vw;
  height: 100vh;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    color: whitesmoke;
  }

  .taskEmail {
    margin-top: 2em;
  }
}

.moonHome {
  @extend .sunnyHome;
  background: $bg-moon;
}

@media screen and (max-width: $pc) {
  .sunnyHome {
    background: black;
  }

  .moonHome {
    background: $bg-moon;
  }
}
