@use "../root/variables" as *;

.sunnyHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $bg-sunset;

  width: 100vw;
  height: 100%;

  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    color: whitesmoke;
  }

  .taskEmail {
    margin-top: 2em;
  }
}

.moonHome {
  @extend .sunnyHome;
  background: $bg-moon;
}
