@use "../root/variables" as *;

.footerBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: fixed;
  bottom: 0;

  margin-top: 1em;
  background-color: rgb(184, 184, 184);

  h4 {
    color: whitesmoke;

    span {
      color: $sunset-alert;
      margin: 0 0.2em;
    }
  }

  .contactIcons {
    margin-left: 1em;
    i {
      color: whitesmoke;
      font-size: 1.5em;
      margin: 0 0.5em;

      &:hover {
        cursor: pointer;
        color: rgb(198, 198, 198);
      }
      &:active {
        color: rgba(245, 245, 245, 0);
      }
    }
  }
}

.moonFooter {
  @extend .footerBar;

  h4 {
    span {
      color: $moon-alert;
    }
  }
}
