.list {
  display: flex;
  flex-direction: column;

  width: 600px;

  .header {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;

    .priority {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: whitesmoke;

        &:hover {
          cursor: pointer;
        }
        &:active {
          color: rgba(245, 245, 245, 0.2);
        }
      }
    }

    h6 {
      font-family: "Dancing Script", cursive;
      font-size: 1.5em;
      color: whitesmoke;
      text-align: center;
      margin: 0 0.5em 0 0;
    }
  }

  .headerPro {
    @extend .header;
    grid-template-columns: 40% 20% 15% 15% 10%;
  }

  .tabsTasks {
    height: 30vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 15px;
    overflow-y: scroll;
  }

  h6 {
    font-weight: 400;
    font-size: 1em;
    color: whitesmoke;
    text-align: center;
    margin: 0 0.5em 0 0;
  }
}
