@use "../root/variables" as *;

.list {
  display: flex;
  flex-direction: column;

  width: 95%;
  max-width: 600px;

  .header {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;

    .priority {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: whitesmoke;

        &:hover {
          cursor: pointer;
        }
        &:active {
          color: rgba(245, 245, 245, 0.2);
        }
      }
    }

    h6 {
      font-family: "Dancing Script", cursive;
      font-size: 1.5em;
      color: whitesmoke;
      text-align: center;
      margin: 0 0.5em 0 0;
    }
  }

  .headerPro {
    @extend .header;
    grid-template-columns: 40% 20% 15% 15% 10%;
  }

  .tabsTasks {
    height: 40vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 15px;
    overflow-y: scroll;
  }

  h6 {
    font-weight: 400;
    font-size: 1em;
    color: whitesmoke;
    text-align: center;
    margin: 0 0.5em 0 0;
  }

  @media screen and (max-width: $tablet) {
    .header {
      grid-template-columns: 45% 25% 15% 15%;
    }
    .headerPro {
      grid-template-columns: 55% 15% 15% 15%;
      .priority {
        display: none;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .header {
      grid-template-columns: 45% 25% 15% 15%;
    }
    .headerPro {
      grid-template-columns: 55% 15% 15% 15%;
      .priority {
        display: none;
      }
    }
  }
}

.listDayTasks {
  @extend .list;
  width: 90vw;
  max-width: 900px;

  .headerPro {
    @extend .header;
    grid-template-columns: 30% 15% 15% 15% 15% 10%;
  }

  .tabsTasks {
    height: fit-content;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.073);
    border-radius: 15px;
    overflow-y: scroll;
  }

  @media screen and (max-width: $pc) {
    .headerPro {
      grid-template-columns: 50% 20% 20% 10%;
      .delete,
      .priority {
        display: none;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .headerPro {
      grid-template-columns: 60% 20% 20%;
      .timeLimit,
      .delete,
      .priority {
        display: none;
      }
    }
  }
}
