@use "../root/variables" as *;

.tutorial {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  padding-top: 4em;
  padding-bottom: 6em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: $bg-sunset;

  .mainGrid {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .loginSpace {
      margin: 2em 1em;
      width: 50%;
      max-width: 400px;
      background-color: rgba(0, 0, 255, 0.062);
      border-radius: 25px;
    }

    .tutorialText {
      height: 65vh;
      width: 50vw;
      overflow-y: scroll;
      background-color: rgba(255, 255, 255, 0.041);

      border-radius: 25px;

      margin: 2em 1em;

      text-align: center;
      color: white;

      .sectionTut {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        h2 {
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          font-family: Verdana, Geneva, Tahoma, sans-serif;
          margin: 2em 0 0 0;
        }
        p {
          text-align: center;
          width: 70%;
        }
        img {
          width: 100%;
          max-width: 700px;
          border-radius: 20px;
        }
        .space {
          height: 1em;
        }
        .img {
          border-radius: 5%;
          width: 100%;
          max-width: 700px;
        }
      }
    }
  }

  .btnGuest {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      color: white;

      text-align: center;
      margin: 1em;
    }
  }

  @media screen and (max-width: $pc) {
    .mainGrid {
      flex-direction: column;

      .loginSpace {
        width: 60%;
      }

      .tutorialText {
        width: 70%;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .mainGrid {
      flex-direction: column;

      .loginSpace {
        width: 70%;
      }

      .tutorialText {
        width: 80%;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .mainGrid {
      flex-direction: column;

      .loginSpace {
        width: 90%;
      }

      .tutorialText {
        width: 85%;
      }
    }
  }
}
